@tailwind base;
@tailwind components;
@tailwind utilities;

/* Varsayılan Renkler */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode İçin Renkler */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Tüm Uygulama İçin Temel Stiller */
body {
  @apply text-black bg-white dark:text-white dark:bg-black;
  font-family: Arial, Helvetica, sans-serif;
}
